{{#> main}}
{{#*inline "body"}}
<div
  class="text-center text-white bg-slate-900 flex justify-center min-h-screen"
>
  <div class="max-w-xl py-6">
    <h1>{{title}}</h1>
    <p>作者:
      <a
        href="https://twitter.com/_hid3"
        target="_brank"
        class="underline"
      >@Hid3</a></p>
    <img src={{imagePath}} class="mt-6" />
    <p class="mt-6">{{beforePlayingMessage}}</p>
    <div class="text-slate-900 p-6">
      <form action={{formActionPath}} method="POST">
        <button
          type="submit"
          class="py-2 px-4 rounded inline-flex items-center bg-white gap-2 font-bold"
        >
          <img
            src="/svgs/hand-back-fist-regular.svg"
            class="w-8 bg-white"
          /><span>グーで勝つ</span>
        </button>
        <input type="hidden" name="hand" value="rock2" />
      </form>
      <div class="flex justify-between mt-6">
        <form action={{formActionPath}} method="POST">
          <button
            type="submit"
            class="py-2 px-4 rounded inline-flex items-center bg-white gap-2 font-bold"
          >
            <img
              src="/svgs/hand-scissors-regular.svg"
              class="w-8 bg-white transform rotate-90"
            /><span>チョキで勝つ</span>
          </button>
          <input type="hidden" name="hand" value="scissors" />
        </form>
        <form action={{formActionPath}} method="POST">
          <button
            type="submit"
            class="py-2 px-4 rounded inline-flex items-center bg-white gap-2 font-bold"
          >
            <img
              src="/svgs/hand-regular.svg"
              class="w-8 bg-white"
            /><span>パーで勝つ</span>
          </button>
          <input type="hidden" name="hand" value="paper" />
        </form>
      </div>
    </div>
  </div>
</div>
{{/inline}}
{{/main}}